.first {
    width: 250px;
    height: 220px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    background-color: rgb(50, 10, 233);
    display: inline-block;
}
.first:hover{
    background-color: rgb(221, 9, 115);
}
img {
    background-color: rgb(30, 190, 211);
}
body{
    background-color:url('cent.jfif');
}
.header{
    display: inline-block;
    overflow: hidden;
  background-color: #28c0d4;
  /* font-size: 34px; */
  text-align: center;
  
  
}
/* .header a{
    float:left;

}
.header nav1{
    float: right;
} */
.firstbaby {
    width: 80px;
    height: 20px;
    margin: 5px;
    padding: 25px;
    border: 5px solid black;
    background-color: rgb(50, 10, 233);
    border: 20px solid yellow;
    
}
.firstbaby:hover{
    background-color:green;
}
.secondbaby:hover{
    background-color: green;
}
.secondbaby {

    width: 80px;
    height: 20px;
    margin: 5px;
    padding: 25px;
    border: 5px solid black;
    background-color: rgb(50, 10, 233);
    border: 20px solid yellow;
    
}
/* .second {

    width: 150px;
    height: 350px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    background-color:rgb(97, 9, 240);
} */
/* .secondbaby {

    border: 20px solid rgb(255, 94, 0);
} */
/* .first {
    
  }  */